.config
  color red

@keyframes walking-person
  0%
    top 0
  100%
    top -.2em

body-part(w, h, color, gradient = true, type = circle, radius = 50%)
  width w
  height h
  border-radius radius
  if gradient
    background-image radial-gradient(
      type,
      lighten(color, 60%),
      color
     )
  else
    background color
