.app
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  overflow visible
  background whitesmoke
  &.isWebApp
    top 21px
    &:after
      content ''
      display block
      position fixed
      height 21px
      top 0
      right 0
      left 0
      background white
      
.app-controls
  @extend .nest-5
  position absolute
  top 1em
  right 1em
  z-index 10
  
.app-control
  @extend .pad-6
  border-radius 100px
  background rgba(white, 0.875)
  display inline-block
  margin 0
  color #999
  width 2.75em
  height 2.75em
  vertical-align middle
  text-align center
  text-decoration none
  &.sub-twitter
    color #56AEEC
    
.app-sidebar
  position relative
  width 5em
  z-index 1
  background white
  transform translate3d(0,0,0)

  .touchDevice &
    .scroll
      pointer-events none
    &:active
    &:hover
      .scroll
        pointer-events auto
  
  .scroll
    padding-right 10em
    margin-right -10em
    width auto
    overflow hidden

  .scroll-pane
    right -15em
    padding-right 25em
  
.app-map
  position relative
  overflow hidden