.modal-wrap
  .modal-content
    .modal-content-box
      .intro
        .intro-logo
          img(src="party/images/crema-christmas-logo.svg", alt="Cremalab Christmas Icon")
        .intro-script
          img(src="party/images/crema-christmas-script.svg", alt="Crema-Christmas")
        p 
          | Welcome to the Crema-christmas Holiday Party (Virtual Edition)!
          | This party uses the latest in internet tech, so leave your old
          | browsers at the door - and the faster your computer the better
          | (this is the 21st century after all)!
        p
          button.sub-bigGreen.sub-width-full Let's Party!
        p Built using these fine services and tools:
        .services.grid.align-middle.spaced: .grid-items
          .service.sub-pubnub.col: a(href="http://www.pubnub.com" target="_blank"): img(src="party/images/logo-pubnub.svg", alt="PubNub")
          .service.sub-brunch.col: a(href="http://brunch.io" target="_blank"): img(src="party/images/logo-brunch.svg", alt="Brunch")
          .service.sub-github.col: a(href="https://github.com" target="_blank"): img(src="party/images/logo-github.svg", alt="Github")
        p.tiny * best on Modern Browsers &amp; fast computers