.modal-wrap
  .modal-content
    .modal-content-box
      canvas#whiteboardCanvas(width=375 height=300)
      p Doodle on the whiteboard! Only people who are currently in the room with you will see what you've drawn.