.arm
  position absolute
  top 0
  width .16em
  height .3em
  border-radius .1em
  background shirt-color
  box-shadow 0 0 4px rgba(0,0,0,.5)
  border-bottom 3px solid skin-color
  transition all transition-speed
  top .95em
  z-index 6  
  
  &.left
    left .12em
  &.right
    right .12em
  .avatar[data-pos="1"] &
    &.left
      left .22em
    &.right
      width .1em
      right .17em
      z-index 3
  .avatar[data-pos="2"] &
    &.left
      left .37em
    &.right
      z-index 3
      right .22em
  .avatar[data-pos="3"] &
    &.left
      left .57em
    &.right
      z-index 3
      right .37em

  .avatar[data-pos="4"] &
    &.left
      left .7em
      z-index 3
    &.right
      z-index 3
      right .7em
  .avatar[data-pos="5"] &
    &.left
      left .37em
      z-index 3
    &.right
      right .57em
  
  .avatar[data-pos="6"] &
    &.left
      left .22em
      z-index 3
    &.right
      right .37em