
.torso
  width .6em
  height .5em
  background shirt-color
  display inline-block
  z-index 4
  position absolute
  border-radius .2em
  top .9em
  left 50%
  margin-left -.3em
  box-shadow 0 0 3px rgba(0,0,0,.5)