button
  transition 0.1s ease-in-out
  transition-property background box-shadow
  @extend .pad-t-5, .pad-r-3, .pad-b-5, .pad-l-3
  @extend $rounded
  font inherit
  font-weight 500
  background green
  border none
  color white
  cursor pointer
  &:hover
  &:active
    background darken(green, 5)
    outline none
  &.sub-width-full
    width 100%
    
  &.sub-bigRed
    color red
    border 2px solid
    background none
    &:hover
    &:active
      background lighten(red, 60)
      box-shadow 0 0 0 3px rgba(black, 0.075)
    
  &.sub-bigGreen
    color green
    border 2px solid
    background none
    &:hover
    &:active
      background lighten(green, 60)
      box-shadow 0 0 0 3px rgba(black, 0.075)