button
  @extend .pad-t-5, .pad-r-2, .pad-b-5, .pad-l-2
  @extend $rounded
  font inherit
  font-weight 500
  background green
  border none
  color white
  cursor pointer
  &.sub-width-full
    width 100%
    
  &.sub-bigRed
    color red
    border 2px solid
    background none
    
  &.sub-bigGreen
    color green
    border 2px solid
    background none