button
  @extend .pad-t-5, .pad-r-3, .pad-b-5, .pad-l-3
  @extend $rounded
  font inherit
  font-weight 500
  background green
  border none
  color white
  cursor pointer
  &.sub-width-full
    width 100%