html
  font 100%/1.5 "Helvetica Neue"
  @media (max-width: 700px)
    .sidebar
    #map
      font-size 75%

for i in 1..6
  h{i}
    font-weight 400
    
small
  font-size 0.875em
  
.tiny
  font-size 0.75em