.audioToggle
  @extend $icon
  font-size 2em
  cursor pointer
  color #999
  &:hover
    color red
  &:after
    content: "\e099"
  &.sub-muted
    &:after
      content: "\e098"
    &:hover
      color green
    