.close
  position absolute
  text-decoration none
  color black
  margin 0
  line-height 1em
  color #999
  @extend .pad-6
  border-radius 100px
  background white
  &:hover
    color #333
  &:after
    content '×'
    font-size 2em