.close
  position absolute
  text-decoration none
  color black
  margin 0
  line-height 1em
  display inline-table
  color #999
  @extend .pad-6
  border-radius 100px
  background white
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1em
  &:hover
    color #333