red    = #ff3e05
orange = #ff8d05
yellow = #ecca05
green  = #40af04
blue   = #057fff
indigo = #7500ca
violet = #cc6fcc

.colorPicker
  font-size 0.875em
  text-align center
  display inline-table
  width 100%
  background white
  padding 2px
  vertical-align middle
  white-space nowrap
  border-spacing 0
  border-collapse collapse

  label
    @extend .pad-4
    user-select none
    -webkit-tap-highlight-color rgba(white, 0.5)
    transition all 0.2s ease-in-out
    display table-cell
    cursor pointer
    vertical-align middle
    text-transform capitalize
    letter-spacing -0.6em
    color transparent
    opacity 0.15
    width 1%
    
    &.red
      background-color red
      -webkit-tap-highlight-color red
    &.orange
      background-color orange
      -webkit-tap-highlight-color orange
    &.yellow
      background-color yellow
      -webkit-tap-highlight-color yellow
    &.green
      background-color green
      -webkit-tap-highlight-color green
    &.blue
      background-color blue
      -webkit-tap-highlight-color blue
    &.indigo
      background-color indigo
      -webkit-tap-highlight-color indigo
    &.violet
      background-color violet
      -webkit-tap-highlight-color violet
    
    &:first-of-type
      border-radius 0.25em 0 0 0.25em
    &:last-of-type
      border-radius 0 0.25em 0.25em 0
    
    &:hover
      opacity 1
      color white
      letter-spacing normal
      
  input
    display none
    &:checked
      & + label
        width 90%
        opacity 1
        color white
        letter-spacing normal
  