
@keyframes move
  0%
    transform rotate(-33deg)
    width 3em
  50%
    transform rotate(33deg)
    width 5em
  100%
    transform rotate(-33deg)
    width 3em

.disco-time .disco
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background rgba(#000, .8)
  z-index 1
  
  .lights
    transform perspective( 600px ) rotateX( 84deg )
    //font-size .7em
  
  .light
    position absolute
    top -5em
    left 50%
    animation-duration 4s
    animation-iteration-count infinite
    animation-timing-function linear
    width 5em
    height 42em
    margin-left -10em
    animation-name move
    background linear-gradient(to bottom, currentColor 0%,rgba(255,255,255,0) 100%)
    transform-origin 0 0
    filter blur(.3em)
    &.red
      animation-duration 3.5s
      color red
    &.yellow
      color yellow
    &.green
      color green
      animation-duration 2.8s
    &.blue
      color blue
      animation-duration 4.2s
