.hint
  max-width 15em
  padding .5em
  font-family 'Menlo', 'Monaco', 'Courier New'
  font-size: .7em
  line-height 1.7em
  background rgba(255,255,255,.8)
  text-align center
  border-radius 5px
  color #222