.modal
  position fixed
  width 100%
  height 100%
  overflow auto
  z-index 5000
  background rgba(black, 0.25)

.modal-wrap
  width 100%
  height 100%
  display table
  text-align center
  
.modal-content
  @extend .pad-5
  display table-cell
  vertical-align middle
  text-align center

.modal-content-box
  @extend .pad-1, .nest-2
  @extend $rounded
  display inline-block
  background white
  position relative
  width 100%
  max-width 28em
  box-shadow 0 0.15em 0.15em 0.25em rgba(black, 0.05)
  
  .close
    @extend .speech-bubble .close
    top 0
    right 1.5em
    
  .modal.sub-intro &
    max-width 40em
  
.avatar-holder
  .avatar
    position relative
  