.playerList
  
  .avatar
    position relative
    display block
    font-size 0.25em
    cursor pointer
    &:after
      display none
    
    &.active
      font-size 0.75em
      height 5.35em
      
    &:hover .player-name
      opacity 1
      transform translateX(0.75em)
    
  .avatar-wrap
    width auto
    height auto
    display inline-table
    
  .body
    position static
    
  .player-name
    @extend .pad-t-6, .pad-r-4, .pad-b-6, .pad-l-4
    transition all 0.15s ease-in-out
    background white
    left 100%
    top 25%
    box-shadow 0 0 10px rgba(black, 0.25)
    opacity 0
    border-radius 0.25em
    font-size 0.75rem
    
    &:before
      content '@'
      color #999
      font-size 1.2em

    &:after
      content ''
      display block
      position absolute
      right 99.5%
      top 50%
      transform translateY(-50%)
      box-sizing content-box !important
      border-width 0.35em
      border-style solid
      border-color transparent white transparent transparent
      width 0
      height 0
      
  .speech-bubble
    z-index auto
    font-size 0.75rem
    top 50%
    bottom auto
    left 100%
    transform translate(0.75em, -50%)
    box-shadow 0 0 20px rgba(black, 0.25)
  
    &:after
      content: ""
      position: absolute
      top 50%
      right 99.5%
      left auto
      transform translateY(-50%)
      border-style: solid
      border-width 0.35em
      border-color: transparent white transparent transparent
      display: block
      width: 0
      z-index: 1
      .playerList &
        z-index 5000
          