.playerList
  
  .avatar
    position static
    display block
    font-size 0.25em
    cursor pointer
    &:after
      display none
    
    &.active
      font-size 0.75em
      height 5.35em
    
  .avatar-wrap
    width auto
    height auto
    display inline-table
    
  .body
    position static
    
  .player-name
    display none