.sidebar
  @extend .pad-4, .nest-4
  position fixed
  top 0
  bottom 0
  left 0
  z-index 2
  background rgba(white, 0.9)

  button
    font-size 0.75em
    width 100%
    
.sidebar-brand
  width 100%
  cursor pointer
  
  img
    width 100%
    max-width 4em
