.sidebar
  @extend .pad-4, .nest-4
  background white
  // position absolute
  top 0
  right 0
  bottom 0
  left 0

  button
    font-size 0.75em
    width 100%
  
.sidebar-brand
  width 100%
  cursor pointer
  text-align center
  
  img
    width 100%
    max-width 4em
