.sidebar
  @extend .pad-4, .nest-4
  background white
  min-width 6em

  button
    font-size 0.75em
    width 100%
  
.sidebar-brand
  width 100%
  cursor pointer
  text-align center
  
  img
    width 100%
    max-width 4em
