.whiteboard
  @extend .nest-reset
  position relative
  
  canvas
    border 4px solid lighten(#999, 30)
    border-radius 0.25em
  
  &.mini 
    position fixed
    top: 835px
    left: 1620px
    z-index: 835
    transform skewX(-12deg)
    canvas
      transform: rotateX(54deg)
      width: 193px
      height: 100px
      background: white
    
.whiteboard-markers
  position absolute
  width 5em
  height 1em
  background black
  bottom 0
  left 50%
  transform translateX(-50%)