break-small  = 640px
break-medium = 768px
break-large  = 1600px
break-xlarge = 2000px

max-small  = "(max-width: " + break-small + ")"
min-small  = "(min-width: " + (break-small + 1px) + ")"

max-medium = "(max-width: " + break-medium + ")"
min-medium = "(min-width: " + (break-medium + 1px) + ")"

max-large  = "(max-width: " + break-large + ")"
min-large  = "(min-width: " + (break-large + 1px) + ")"

max-xlarge  = "(max-width: " + break-xlarge + ")"
min-xlarge  = "(min-width: " + (break-xlarge + 1px) + ")"