fonts_dir = '/fonts/'

@font-face {
  font-family: 'icomoon';
  src:url(fonts_dir + 'icomoon.eot?-784ped');
  src:url(fonts_dir + 'icomoon.eot?#iefix-784ped') format('embedded-opentype'),
    url(fonts_dir + 'icomoon.woff?-784ped') format('woff'),
    url(fonts_dir + 'icomoon.ttf?-784ped') format('truetype'),
    url(fonts_dir + 'icomoon.svg?-784ped#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icon
[class^="icon-"]
[class*=" icon-"]
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

.icon-volume:before {
  content: "\e098";
}
.icon-mute:before {
  content: "\e099";
}
