// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'
@import 'map'
@import 'avatar'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing: border-box
  
body
  overflow hidden
  height 100%
  width 100%
  margin 0
  padding 0
html
  height 100%
  width 100%