@import "avatar/_config"
@import "avatar/_torso"
@import "avatar/_head"
@import "avatar/_legs"
@import "avatar/_mouth"
@import "avatar/_eyes"
@import "avatar/_arms"

.avatar
  position absolute
  left 0
  top 0
  z-index 2
  display inline-block
  text-align center
  margin 0 .5em
  transition-property top
  animation-duration .3s
  &.moving
    animation-name walking-person
    animation-iteration-count infinite
  *, *:before
    transition all .2s
