#map
  position absolute
  top 0
  left 0
  width 5000px
  height 5000px
  background url(/images/bg.jpg)
  z-index 0
  
#drawCanvas
  position absolute
  top 0
  left 0
  width 5000px
  height 5000px
  z-index 1
  
#snowCanvas
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  z-index 10