    
.arm
  body-part(1em, .8em, shirt-color)
  top 3.6em
  position absolute
  z-index 1
.arm.right
  left .5em
  transform rotate(-30deg)
  [data-pos="1"] &
    left 1em
    z-index 3
    top 3.8em
    transform rotate(-90deg)
  [data-pos="2"] &
    left 1.5em
    z-index 3
    top 3.9em
    transform rotate(-90deg)
  [data-pos="3"] &
    left 1.9em
    z-index 3
    top 3.9em
    transform rotate(-90deg)
  [data-pos="4"] &
    left 2.6em
    z-index 3
    top 3.7em
    transform rotate(-110deg)
  [data-pos="5"] &
    left 1.9em
    z-index 2
    top 3.7em
    transform rotate(-110deg)
  [data-pos="6"] &
    left 1.9em
    z-index 2
    top 3.7em
    transform rotate(-110deg)
  [data-pos="7"] &
    left 1.9em
    z-index 2
    top 3.7em
    transform rotate(-110deg)
.arm.left
  right .5em
  transform rotate(30deg)
  [data-pos="1"] &
    transform rotate(70deg)
    right 1em
  [data-pos="2"] &
    transform rotate(70deg)
    right 1.5em
    z-index 2
  [data-pos="3"] &
    transform rotate(70deg)
    right 1.9em
    z-index 2
  [data-pos="4"] &
    transform rotate(110deg)
    right 2.6em
    z-index 3
  [data-pos="5"] &
    transform rotate(110deg)
    top 3.9em
    right 1.9em
    z-index 3
  [data-pos="6"] &
    transform rotate(90deg)
    top 3.9em
    right 1.5em
    z-index 3
  [data-pos="7"] &
    transform rotate(90deg)
    top 3.9em
    right 1.1em
    z-index 3
