.avatar .body
    position relative    
    transition transform .2s linear
    animation-duration .2s
    top 0
    //*, *:before
    //  transition all .2s

  
.avatar.moving .body
    animation-name walking-person
    animation-iteration-count infinite
