.headSizing
  width 4em
  height 4em
  border-radius 50% 50% 40% 40%  
  overflow hidden
  [data-gender="female"] &
    border-radius 50%
  [data-pos="2"] &,
  [data-pos="6"] &
    border-radius 50% 50% 40% 50%
  [data-pos="4"] &
    border-radius 50%

.head
  background skin-color
  position relative
  z-index 4
  @extend .headSizing  

.hat
  @extend .headSizing
  position absolute
  top 0
  left 0
  z-index 8
  &:after
    content ''
    display block
    border-radius 40%
    position absolute
    top 0
    left 0
    width 4em
    height 4em
    box-shadow inset .4em 0 rgba(0,0,0,.2)

  &:before
    content ''
    display block
    border-radius 50%
    position absolute
    top 0
    left 50%
    color hat-color
    box-shadow .1em .2em 0 rgba(0,0,0,.2)

    [data-pos="0"] &,
    [data-pos="1"] &,
    [data-pos="2"] &,
    [data-pos="6"] &,
    [data-pos="7"] &
      margin-left -2.2em
      width 4.4em
      height 4.5em
      box-shadow inset 0 1.8em 0 currentColor, inset 0 2em 0 rgba(0,0,0,.2)
    
    [data-pos="1"] &,
    [data-pos="2"] &,
    [data-pos="6"] &,
    [data-pos="7"] &
      transform rotate(-20deg)
    
    [data-pos="2"] &,
    [data-pos="6"] &
      width 7em
      margin-left -3.5em
      box-shadow inset 0 2.2em 0 currentColor, inset 0 2.4em 0 rgba(0,0,0,.2)
    
    [data-pos="3"] &,
    [data-pos="4"] &,
    [data-pos="5"] &
      width 5.6em
      height 5em
      background currentColor
      left -1.5em
      top -1.6em
    
    [data-pos="4"] &
      left -.8em

.avatar-hat-red
  .hat:before
    color red
.avatar-hat-orange
  .hat:before
    color orange
.avatar-hat-yellow
  .hat:before
    color yellow
.avatar-hat-green
  .hat:before
    color green
.avatar-hat-blue
  .hat:before
    color blue
.avatar-hat-indigo
  .hat:before
    color indigo  
.avatar-hat-violet
  .hat:before
    color violet
  