
.mouth
  width 1em
  margin-left -.5em
  height .4em
  border-radius 50%
  border-width 0 0 1px
  border-style solid
  border-color rgba(0,0,0,.5)
  z-index 8
  position absolute
  top 3.3em
  left 50%
  [data-pos="1"] &
    transform rotate(-15deg)
    margin-left .3em
    top 3.1em
  [data-pos="2"] &
    width .6em
    margin-left .9em
    height .3em
  [data-pos="3"] &
    width .6em
    margin-left .9em
    height .3em
  [data-pos="3"] &,
  [data-pos="4"] &,
  [data-pos="5"] &
    z-index 2
  [data-pos="6"] &
    width .6em
    margin-left -1.5em
    height .3em
  [data-pos="7"] &
    transform rotate(15deg)
    margin-left -1.3em
    top 3.1em
