
.mouth
  width 1em
  margin-left -.5em
  height .4em
  border-radius 50%
  border-width 0 0 1px
  border-style solid
  border-color rgba(0,0,0,.5)
  z-index 8
  position absolute
  top 3.3em
  left 50%
  
  .avatar-moustache &
    &:before
    &:after
      content ''
      display block
      position absolute
      width .8em
      height .25em
      border-radius 50%
      top -.15em
    
    &:before
      box-shadow 0.1em 0.1em 0 currentColor
      left -.4em
    &:after
      box-shadow -0.1em 0.1em 0 currentColor
      left .6em

  .avatar-moustache[data-pos="1"] &
  .avatar-moustache[data-pos="7"] &
    &:after
      left .7em
      width .7em

  .avatar-moustache[data-pos="2"] &
  .avatar-moustache[data-pos="6"] &
    &:after
      display none
    &:before
      width 1em
      top -.2em
      left -.3em

  .avatar-moustache[data-pos="3"] &
  .avatar-moustache[data-pos="4"] &
  .avatar-moustache[data-pos="5"] &
    &:before
    &:after
      display none
    
  [data-pos="1"] &,
  [data-pos="7"] &
    transform rotate(-15deg)
    margin-left .3em
    top 3.1em
  [data-pos="2"] &,
  [data-pos="6"] &
    width .6em
    margin-left .9em
    height .3em
  [data-pos="3"] &
    width .6em
    margin-left .9em
    height .3em
  [data-pos="3"] &,
  [data-pos="4"] &,
  [data-pos="5"] &
    z-index 2
