.torso
  width 2em
  height 2.8em
  border-radius 50% 50% 26% 26%
  box-shadow inset .4em 0 rgba(0,0,0,.2)
  border 1px solid rgba(black, 0.35)
  background shirt-color
  display inline-block
  position absolute
  top 2.2em
  z-index 3
  left 50%
  margin-left -1em
  